<div>
    {{#if isAdmin}}
    <ul>
        {{#each foods}}
        <li>{{name}}: {{price}}</li>
        {{/each}}
    </ul>
    {{else}}
    <div>Usuario No Autorizado</div>
    {{/if}}
</div>
<script src="../../../public/js/index.js"></script>